<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>{{ role }} Dashboard</h1>
    <a href="{{ url_for('logout') }}">Logout</a>
    <h2>Calculate Fees</h2>
    <form id="feeForm" action="{{ url_for('fee_calculator') }}" method="POST">
        <input type="text" name="student_name" placeholder="Student Name" required>
        <select name="grade" id="gradeSelect" onchange="updateTuition()">
            <option value="">Select Grade</option>
            <option value="Nursery">Nursery</option>
            <option value="Grade 1-3">Grade 1-3</option>
            <option value="Grade 4-6">Grade 4-6</option>
            <option value="Grade 7-9">Grade 7-9</option>
        </select>
        <h3 id="tuitionFee">Tuition Fee: </h3>

        <h4>Optional Fees</h4>
        <label><input type="checkbox" name="optional_fees" value="2000"> Food</label><br>
        <label><input type="checkbox" name="optional_fees" value="1500"> Transport</label><br>
        <label><input type="checkbox" name="optional_fees" value="3000"> Admission</label><br>
        <label><input type="checkbox" name="optional_fees" value="2500"> Interview</label><br>
        <label><input type="checkbox" name="optional_fees" value="1000"> Diary</label><br>
        <label><input type="checkbox" name="optional_fees" value="500"> Activity Fee</label><br>
        <label><input type="checkbox" name="optional_fees" value="1500"> School Supplies</label><br>
        <label><input type="checkbox" name="optional_fees" value="1200"> Assessment Tools</label><br>
        <label><input type="checkbox" name="optional_fees" value="2500"> Uniform</label><br>

        <button type="submit">Calculate Total Fee</button>
    </form>

    <script>
        function updateTuition() {
            const gradeSelect = document.getElementById('gradeSelect');
            const tuitionFee = document.getElementById('tuitionFee');
            let fee;

            switch (gradeSelect.value) {
                case 'Nursery':
                    fee = 6500;
                    break;
                case 'Grade 1-3':
                    fee = 8500;
                    break;
                case 'Grade 4-6':
                    fee = 9000;
                    break;
                case 'Grade 7-9':
                    fee = 12000;
                    break;
                default:
                    fee = 0;
            }

            tuitionFee.textContent = `Tuition Fee: ${fee}`;
            tuitionFee.setAttribute("data-fee", fee);
        }
    </script>
</body>
</html>
